@font-face {
    font-family: 'pixdig';
    src: url('assets/pixdig.otf') format('opentype');
}

* {
    font-family: 'pixdig', monospace;
    letter-spacing: 3px;
    user-select: none;
    /*cursor: url("default_pointing.cur"), auto;*/
}


/* ------------------------------------------- */


#radio {
    margin: 5%;
}

#stations {
    padding-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#stations button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 5px #AAAAAA;
    background: #CCCCCC;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s;
}

#stations button.active {
    transform: translateY(5px);
    box-shadow: 0 0 #AAAAAA;
    background: #888888;
    color: white;
}

#stations button:hover {
    filter: brightness(90%);
}

#stations button:active {
    transform: translateY(5px);
    box-shadow: 0 0 #AAAAAA;
}

/* -------------------------------- */

#cat-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#cat-side img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* -------------------------------- */


#controls {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

#controls button {
    width: 60px;
    height: 60px;
    border: none;
    background: #CCCCCC;
    box-shadow: 0 5px #AAAAAA;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: transform 0.1s;
}

#controls button.active {
    transform: translateY(5px);
    box-shadow: 0 0 #AAAAAA;
    background: #888888;
    filter: invert(1);
    cursor: not-allowed;
}


#controls button img {
    width: 70%;
    height: 70%;
    image-rendering: pixelated;
}

#controls button:active {
    transform: translateY(5px);
    box-shadow: 0 0 #AAAAAA;
    background: #888888;
}


/* ------------------------------------------- */


#timer-controls {
    display: flex;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #888888;
}

#timer-controls input {
    width: 100px;
    height: 100%;
    border: none;
    border-right: 2px solid #888888;
    background: #EEEEEE;
    font-family: 'pixdig', monospace;
    font-size: 24px;
    padding-left: 20px;
    text-align: center;
    box-sizing: border-box;
}

#timer-controls button {
    flex: 1;
    height: 100%;
    border: none;
    background: #CCCCCC;
    cursor: pointer;
    font-family: 'pixdig', monospace;
    font-size: 20px;
    box-shadow: none;
    transition: background 0.1s;
}

#timer-controls button:hover {
    filter: brightness(90%);
}

#timer-controls button:active {
    transform: translateY(0px);
    background: #888888;
    color: white;
}

#timer-start-btn:disabled {
    background: #888888;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
}

#timer-start-btn:disabled:hover {
    background: #888888;
    color: white;
}


/* ------------------------------------------- */


#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-family: 'pixdig', monospace;
    letter-spacing: 3px;
    position: relative;
}

#timer p {
    font-size: 35vh;
    text-align: center;
    margin: 0;
}

 #timer-buttons {
     position: absolute;
     top: 2px;
     left: 2px;
     display: flex;
     gap: 10px;
 }

#timer-buttons button {
    padding: 4px 6px;
    font-family: 'pixdig', monospace;
    font-size: 14px;
    background: #CCCCCC;
    border: 2px solid #888888;
    cursor: pointer;
    transition: all 0.1s;
}

#timer-buttons button:hover {
    filter: brightness(90%);
}

#timer-buttons button:active {
    background: #888888;
    color: white;
}

/* ------------------------------------------- */

/*.min-spent {*/
/*    border: #888888 1px solid;*/
/*    padding: 2px 5px;*/
/*    background: #EEEEEE;*/
/*    color: #888888;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 65px;*/
/*}*/